-# MRC form.

- fields = %w(name address address2 city state zip phone)
- labels = ['Market Research Company', 'Address', 'Address 2', 'City', 'State', 'Zip', 'Phone Number']

- locals = local_assigns.merge({:fields => fields, :labels => labels})
= render :partial => FORM_VIEW, :locals => locals
