-# Renders body of MRCs view.

#mrc_toc.toc{:style=>"float:left;width:20%;"}

  %fieldset{:style=>"height:500px;"}

    %legend Market Research Companies
    #reset_link

    %input#live_search{:type=>"text", :name=>"live_search", :value=>"search mrcs..."}
    = observe_field :live_search,                  |
      :frequency => 0.5,                           |
      :with => 'q',                                |
      :url => {:action => :live_search},           |
      :loading => "$('#ajax-indicator').show();",  |
      :complete => "$('#ajax-indicator').hide();"  |
    :javascript
      $('#live_search').focus(function () {
        if($(this).val() == "search mrcs...") $(this).val("")
        });

    #mrc_list{:style=>"margin:left:20px;"}
    = render:partial => 'mrc_list'

#mrc_form{:style=>"float:left;width:740px;margin-left:10px;"}
/= render :partial => 'mrc_form'
