body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  // width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#top-menu ul {
  list-style:none;
  margin-left:2px;
  margin-top:0px;
  padding-left:5px;
  //height:30px;
  // width:450px;
  border-bottom:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
}

#top-menu ul li {
  float:left;
  margin-right:10px;
  // width:70px;
}

#top-menu ul:after {
  //clear:both;
}

#ajax-indicator {
  display:none;
  position: absolute; /* fixed not supported by IE */
  background-position: 0% 40%;
  background-color:#eee;
  background-repeat: no-repeat;
  background-image: url(../images/loader.gif);
  padding-left: 26px;
  vertical-align: bottom;
  border: 1px solid #bbb;
  top:35%;
  left:40%;
  width:20%;
  font-weight:bold;
  text-align:center;
  padding:0.6em;
  z-index:100;
  filter:alpha(opacity=50);
  opacity: 0.5;
}

#footer {clear: both}

.inactive {
  font-color:grey
}

.floatleft {
  float:left
}