-# Renders User navigation view.

#user_navigation
  #complex-filter{:style > "float:left"}
    %fieldset
      %Legend Filter
      =link_to_remote "Reset Filter", |
          :url => {:action => "reset_complex_filter"}, |
          :loading => "busy(true)", :complete => "busy(false)"

  = render :partial => @search_list_view, :locals => local_assigns
