-# User form. Uses 'entity' local variable to render content.

%fieldset
  %legend User Information

  - form_remote_for entity, :loading =>"busy(true)", :complete =>"busy(false)" do |f|                                                 |

    = render :partial => "shared/entity_editor_actions", :locals => {:entity => entity}

    #user_fields
      %table
        - fields = %w(login password password_confirmation first_name last_name phone mobile is_group is_admin)
        - labels = ['Login', 'Password', 'Confirm', 'First Name', 'Last Name', 'Phone Number', 'Mobile Number', 'Group?', 'Admin?']
        - fields.each_index do |i|
          %tr
            %td[entity, fields[i] + 'lbl']{:style => "text-align:right"}= label_tag fields[i], labels[i] + ':'
            %td[entity, fields[i] + 'fld']{:style => "text-align:left"}= f.text_field fields[i]
