-# Arranges html for the abstract Entity (Mrc, Project, Client, etc).
-# Local variable 'model' used.

- e_name = model.name.downcase
- plural = e_name.pluralize

#entity-body
  #entity-nav.floatleft
    = render :partial => (plural + '/' + e_name + '_navigation'), :locals => local_assigns

#entity-form.floatleft
