-# Client form.

- fields = %w(name address address2 city state zip phone)
- labels = ['Client', 'Address', 'Address 2', 'City', 'State', 'Zip', 'Phone Number']

- locals = local_assigns.merge({:fields => fields, :labels => labels})
= render :partial => FORM_VIEW, :locals => locals

-# TODO: Wazzup with this?
  <li><%=select(:client,:mrc_id,@owned_mrcs.map{|m| [m.name,m.id]},{:selected => @client.mrc_id})%></li>
