-# Renders Client navigation view.

#client_navigation

  -#
    #mrc-nav.floatleft= render :partial => SEARCH_LIST_VIEW, |
        :locals => {:model => Mrc, :entities => @mrcs, :target => 'client-nav'} |

  - logger.debug "-------------------------------------------- #{local_assigns}"
  #client-nav.floatleft= render :partial => SEARCH_LIST_VIEW, |
      :locals => local_assigns |
