<div style="float:left;width:220px;">
<%=render:partial =>'mrc_live_search'%>
</div>
<div style="float:left;width:200px;">
  <fieldset style="height:500px;">
	<legend>Client List</legend>
  <div id="client_list">
	  <%=render:partial=>'client_list'%>
	</div>
  </fieldset>
</div>
<div style="float:left;width:500px;"id="client_form">
<%=render:partial=>'client_form'%>
</div>