-# Project form.

- fields = %w(name description state_date end_date)
- labels = ['Project Name', 'Project Description', 'Start Date', 'End Date']

- locals = local_assigns.merge({:fields => fields, :labels => labels})
= render :partial => FORM_VIEW, :locals => locals

-# TODO: Wazzup with this?
  <li><%=select(:project,:client_id,@owned_clients.map{|c| [c.name,c.id]})%></li>

